.customization {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  position: relative;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.field {
  width: calc(33.33% - 10px);
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.colorPickerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.colorPickerWrapper {
  position: absolute;
  z-index: 1000;
  top: 60px;
}

.colorCircle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid #ccc;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin-bottom: 5px;
}

.logoImage {
  width: 20px;
  height: 20px;
}

.removeButton {
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
}

.removeButton:hover {
  background-color: #ccc;
}

.fieldContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
