.preview {
  padding: 20px;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.titleContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  font-size: 24px;
  padding: 10px;
  border-radius: 8px;
}

.descriptionContainer {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
}

.questionBlock {
  padding: 20px;
}

.questionNumber {
  padding-bottom: 10px;
}

.questionText {
  font-weight: bold;
  padding-bottom: 10px;
}

.npsContainer {
  margin-top: 10px;
}

.rangeContainer {
  margin-top: 20px;
}

.npsValue {
  font-size: 18px;
  margin-top: 5px;
}

.buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.button:hover {
  opacity: 0.8;
}

.optionsContainer {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.customCheckboxContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.customCheckbox {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
}

.customCheckbox input {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 2;
}

.customCheckbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  background-color: var(--bg-color, white);
  border: 2px solid var(--border-color, --accent);
}

.customCheckbox input:checked ~ .checkmark {
  background-color: var(--border-color, --accent);
}

.customCheckbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 5px;
  width: 5px;
  height: 10px;
  border: solid var(--border-check-color);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.customCheckbox input:checked ~ .checkmark:after {
  display: block;
}

.recentButton {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  position: relative;
  cursor: pointer;
}

.recentButton svg {
  font-size: 18px;
}

.recentButton:hover {
  background-color: #ccc;
}

.customRadio {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
}

.customRadio input {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 2;
}

.customRadio .radiomark {
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  border: 2px solid var(--border-color);
  border-radius: 50%;
  background-color: white;
  box-sizing: border-box;
}

.customRadio input:checked ~ .radiomark {
  background-color: var(--bg-color);
}

.customRadio .radiomark:after {
  content: "";
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--border-color);
}

.customRadio input:checked ~ .radiomark:after {
  display: block;
}
