* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  min-height: 100%;
}

html,
body,
#root {
  min-height: 100vh;
  margin: 0;
}

html,
body {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
button {
  margin: 0;
  padding: 0;
}

button {
  background-color: unset;
  color: unset;
  border: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--background);
  border: 1px solid var(--border-color);
}

th,
td {
  border: 1px solid var(--border-color);
  padding: 8px;
  text-align: left;
}

td {
  position: relative;
}

td:hover,
th:hover {
  background: var(--opacity-accent);
}

select {
  padding: 5px;
  font-size: 16px;
  border: 2px solid var(--opacity-accent);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  background-color: var(--background);
  color: var(--text-primary);
  cursor: pointer;
}

option {
  background-color: var(--background);
  color: var(--text-primary);
}

option:hover {
  background-color: var(--opacity-accent);
}

:root {
  --background: #ffffff;
  --border-color: #d9d9d9;
  --text-primary: #0d0d0d;
  --accent: #0d0097;
  --text-accent: #ffffff;
}

.primary-button {
  background-color: var(--accent);
  color: var(--text-accent);
  border-radius: 10px;
  padding: 15px;
  font-size: 16px;
  font-weight: 600;
  width: fit-content;
  cursor: pointer;
}

.primary-button:hover {
  background: var(--accent) !important;
  opacity: 0.7;
  cursor: pointer;
}

.outlined-button {
  font-size: 16px;
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  background-color: var(--background);
  position: relative;
  cursor: pointer;
}

.outlined-button:hover {
  background-color: #b9b9b9;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

input:focus {
  border-color: var(--accent);
  outline: none;
}
/* 
input[type="text"] {
  width: 500px;
  display: inline-block;
} */

input[type="number"] {
  width: 60px;
  display: inline-block;
}

.ant-input:hover,
.ant-input:focus,
.ant-input-focused,
.ant-input-outlined:focus,
.ant-input-outlined:hover,
.ant-input-affix-wrapper-focused {
  border-color: var(--accent) !important;
  box-shadow: 0 0 0 2px rgba(13, 0, 151, 0.2) !important;
  font-size: 16px;
}

.ant-input,
.ant-input-outlined,
.ant-input-password input {
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  font-size: 16px;
}

.ant-tabs-tab-btn:focus,
.ant-tabs-tab-btn:active {
  color: #000000 !important;
}
